body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  word-wrap: break-word;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages li:nth-child(even) {
  background: #fff;
}

#chatForm {
  position: fixed;
  bottom: 10px;
}

#messagebox {
  /* Keep only if whiteboard is enabled
  height: 250px;
  width: 250px;
  border: 1px solid #000;
  border-radius: 15px;
  position: fixed;
  bottom: 5em;
  */
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}

/**
 * Canvas
 */

 .whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-image: url(../images/eraser-tool.png); background-size: contain;}